<div id="calc-view" class="rounded-corners">
  <form class="form-horizontal">
    {{view App.ExpressionTextField class="input-xlarge"
      placeholder="Enter postfix notation expression..."
      valueBinding="App.calcController.expression"
    }}
    <button class="btn btn-primary" {{action "solveExpression" target="App.calcController"}}>Solve</button>
  </form>

  {{#if App.calcController.error}}
    <div class="alert alert-error">
      The input expression <b>{{App.calcController.lastExpression}}</b> is invalid and cannot be parsed.<br/><br/>
      Error: {{App.calcController.error}}
    </div>
  {{/if}}

  <h1>{{App.calcController.solution}}</h1>
  {{#if App.stepController.length}}
    <hr>
    Steps:<br/><br/>
    {{#each App.stepController}}
      <b>Step {{index}}:</b> {{leftValue}} {{operator}} {{rightValue}} = {{result}}<br/>
    {{/each}}
    <b>Answer:</b> {{App.calcController.solution}}
  {{/if}}
</div>
